.container {
  width: 90%;
  height: 100%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .main-title {
    font-size: 2.2rem;
    margin-bottom: 24px;
  }

  .my-locations {
    padding: 0;
    width: 100%;
    max-width: 800px;

    .content {
      padding: 16px;
    }

    .no-data {
      padding: 26px;
    }
  }
}
